{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <title>남해미니중기</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/octtaehwa.css" %}"> 
    <link rel="stylesheet" href="{% static "css/icon.css" %}">
    <link rel="stylesheet" href="{% static "css/octcustom.css" %}">    
    <link rel="stylesheet" href="{% static "css/octstyle.css" %}"> 
    <link rel="stylesheet" href="{% static "css/octtgallery.css" %}">     
                                                
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">   
    <link rel="shortcut icon" href="{% static 'img/favi-bini.png' %}" sizes="32x32" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/favi-bini.png' %}" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/favi-bini.png' %}" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/favi-bini.png' %}" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/favi-bini.png' %}" type="image/png"/>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="home">
  
   <header role="banner">
  <img id="logo-main" src="{% static 'img/logo010.png' %}" width="200" alt="Logo Thing main logo"/>
<nav id="navbar-primary" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-primary-collapse">
      <ul class="nav navbar-nav mr-auto">
        <li class=""><a href="{% url 'post_list' %}">  <i class="fas fa-door-open"></i> &nbsp; &nbsp; 홈</a></li>
        <!-- <li><a href=" ">NONE</a></li> -->
        <li><a href="{% url 'gallery' %}"><i class="fas fa-folder-open"></i> &nbsp; &nbsp; 갤러리</a></li>
       
      </ul>
      <ul class="nav navbar-nav navbar-right"> 
          {% if user.is_authenticated %}
          
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>Hi {{ request.user }} </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'post_new' %}"><i  class="far fa-edit"></i>&nbsp; &nbsp;블로그꾸미기</a>
            <br><br>
          <a class="dropdown-item" href="{% url 'user_logout' %}"><i class="far fa-bell-slash"></i>&nbsp; &nbsp;Logout</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_login' %}"><i class="far fa-bell">&nbsp; &nbsp;</i>Login</a>
      </li>
      {% endif %}
      </ul>  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header><!-- header role="banner" -->

  
      {% block content %}
      {% endblock %}
  
      
     <!-- Footer -->


      
       <!-- end wrap       -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/placeholders.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
      
  </body>

</html>
