{% extends 'blog/base.html' %}
{% load static from staticfiles %}

@import url('https://fonts.googleapis.com/css?family=Lobster');
{% block content %}

<article class="post">
<div class="container">

	<div class="bread">
		<ol>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ol>
	</div>

	<h1>시공현장 갤러리</h1>
    <P>30여년 시공경험, 각기 다른 현장 상황에 맞춤한 최고의 성실시공,
        건축절차부터 모든공사 상담 환영합니다.
    </P>
<div id="photos">
  <ul id="photo-gallery">
    <li>
      <a href="{% static 'img/ga1.jpg' %}">
           <img src="{% static 'img/ga11.jpg' %}">
        
      </a>
       
    </li>
    <li>
       <a href="{% static 'img/ga3.jpg' %}">
           <img src="{% static 'img/ga33.jpg' %}">
        
      </a>
    </li>
    <li>
      <a href="{% static 'img/ga2.jpg' %}">
           <img src="{% static 'img/ga22.jpg' %}">
        
      </a>
    </li>
    <li>
       <a href="{% static 'img/ga4.jpg' %}">
           <img src="{% static 'img/ga44.jpg' %}">
        
      </a>
    </li>
    <li>
       <a href="{% static 'img/ga5.jpg' %}">
           <img src="{% static 'img/ga55.jpg' %}">
        
      </a>
    </li>
    <li>
      <a href="{% static 'img/ga6.jpg' %}">
           <img src="{% static 'img/ga66.jpg' %}">
        
      </a>
    </li>
    <li>
       <a href="{% static 'img/ga7.jpg' %}">
           <img src="{% static 'img/ga77.jpg' %}">
        
      </a>
    </li>
    <li>
       <a href="{% static 'img/ga8.jpg' %}">
           <img src="{% static 'img/ga88.jpg' %}">
        
      </a>
    </li>
    <li>
       <a href="{% static 'img/ga0.jpg' %}">
           <img src="{% static 'img/ga99.jpg' %}">
        
      </a>
    </li>
  </ul>
</div>
	

	

	

</div>
</article>






 {% endblock  %} 

