{% extends 'blog/base.html' %}
{% load static from staticfiles %}


{% block content %}

<article class="post">
<div class="container">

	<div class="bread">
		<ol>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ol>
	</div>

	<h1>로그인</h1>
     <P>관리자 페이지입니다. 사용자ID와 비밀번호를 입력하세요. 
    </P>
	 
        <form method="post">
             {% csrf_token %}
             {{ form.as_p}}
          <input type="submit" value="Login" class="btn btn-outline-success">
        </form> 

</div>
</article>

{% endblock %}

 