{% extends 'blog/base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="container-fluid" style="margin-bottom: 20px;">
  <div class="row content" style="height:">
   

    <div class="col-sm-9">
      <h4><small>이미지는 최대 6장까지 등록가능 </small></h4>
      <hr>
        <h1>블로그 꾸미기</h1>
      
      <br><br>
    </div>
  </div>
 <form id="post_form" method="post" action="" enctype="multipart/form-data">
   
     {% csrf_token %}
      {{ form.as_p }}
      {{ formset.as_table }}
   
    <br><br>
     
    <input type="submit" name="submit" value="Submit" />
    
</form>
 
</div>
   
   
   
  <footer class="container-fluid" style="background-color: #555;
      color: white;
      padding: 15px;">
      <div class="pull-left copyright">
                        
            <p>남해미니중기 &copy; </p>
           
      </div>
        

      <div class="pull-right ">
        <a class="visible-xs " href="tel:010-3880-2868" style="padding:px; text-decoration: none">
    <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
    <font color=""> &nbsp; &nbsp;  010-3880-2868</font>
    </a>
    </p>
    <p class="hidden-xs">
       <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
       <font color="#2C3E50"> &nbsp; &nbsp;010-3880-2868</font>
    </p>
    <p>
        <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
        <font color="#2C3E50"> &nbsp; &nbsp;055-864-2868</font>
    </p> 
    <p>
        <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
        <font color="#2C3E50"> &nbsp; &nbsp;055-864-1720</font>
    </p> 
  
   
              
          </div>
 
</footer>
{% endblock %}