{% extends 'blog/base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="container-fluid" style="margin-bottom: 20px;">
  <div class="row content" style="height:">
   

    <div class="col-sm-9">
      <h4><small>이미지는 최대 6장까지 등록가능 </small></h4>
      <hr>
        <h1>블로그 꾸미기</h1>
      
      <br><br>
    </div>
  </div>
 <form id="post_form" method="post" action="" enctype="multipart/form-data">
   
     {% csrf_token %}
      {{ form.as_p }}
      {{ formset.as_table }}
   
    <br><br>
     
    <input type="submit" name="submit" value="Submit" />
    
</form>
 
</div>
   
   
   
  <footer class="container-fluid" style="background:#62757f;
      color: white;
      padding: 15px;">
      <div class="pull-left copyright">
                        
            <p>남해미니중기 &copy; </p>
           
      </div>
        
  </footer>
{% endblock %}