{% extends 'blog/base.html' %}
{% load static from staticfiles %}

@import url('https://fonts.googleapis.com/css?family=Lobster');
{% block content %}

<article class="post">
<div class="container">

	<div class="bread">
		<ol>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ol>
	</div>

	<h1>최근 시공 현장</h1>
     <P>언제나 최선을 다하겠습니다. 
    </P>
	 
      <h2>{{ post.title }}</h2> 
    <br>
      <p>{{ post.content|linebreaksbr }}<br>
          {% if post.published_date %}
          {% endif %}
      </p>
    <div class="row gallery">
         {% for p in post.images_set.all %}
          <div class="col-sm-3">
            <img src="{{ p.image.url }}" class="img thumbnail">
          </div> 
         {% endfor %} 

  </div> 
</div>
</article>

{% endblock %}

