{% extends 'blog/base.html' %}
{% load static from staticfiles %}
{% block content %}

<div class="container-fluid productlist">
        <div class="row">
          <div class="col-sm-8">
                      
           <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000" style="padding: 0 20px ">
  <!-- Indicators 삭제 -->
 
 
  <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="{% static 'img/hero111.png' %}" alt="...">
             <div class="carousel-caption">
             <h3></h3>
             </div>
            </div>
            <div class="item">
              <img src="{% static 'img/hero122.png' %}" alt="...">
             <div class="carousel-caption">
             <h3></h3>
             </div>
            </div>
            <div class="item">
             <img src="{% static 'img/hero133.png' %}" alt="...">
             <div class="carousel-caption">
              <h3></h3>
            </div>
            </div>
            <div class="item">
              <img src="{% static 'img/hero144.png' %}" alt="...">
               <div class="carousel-caption">
               <h3></h3>
            </div>
           </div>
          </div>
       </div> 
 <!--  end carousel -->
       </div>
                    
          <div class="col-sm-4">
              <div class="panel panel-default" style="border-color: #fff;"> 
    <div class="panel-heading" style="background:#90a4ae">
      <h3>미니포크레인 굴삭기</h3>
        <p><a class="visible-xs " href="tel:010-3880-2868" style="padding:px; text-decoration: none">
            모든공사전문 &nbsp; &nbsp; <i class="fas fa-phone"></i>
             <font color="#2C3E50"> &nbsp; &nbsp;  010-3880-2868</font>
             </a>
           </p>
        <p class="hidden-xs">
            모든공사전문 &nbsp; &nbsp; <i class="fas fa-phone"></i>
            <font color="#2C3E50"> &nbsp; &nbsp;010-3880-2868</font>
            </p> 
    </div>
   <!--  <div class="panel-body"> 
    </div>  -->
     
       <ol class="list-group rounded-list">
           <li class="list-group-item" style="border-top:0 solid #fff"><a href="">주택 철거/집수리 공사</a></li>
           <li class="list-group-item" style="border-top:0 solid #fff"> <a href="">상하수도/배수로 공사</a></li>
          <li class="list-group-item" style="border-top:0 solid #fff"><a href="">조경/석축 공사</a></li>
          <li class="list-group-item" style="border-top:0 solid #fff"><a href="">보광토 공사</a></li>
      </ol> 
    </div>
    </div>           
    </div>            
    </div>
  <div class="container-fluid productlist">
  <div class="row">
  <div class="col-sm-12">    
  <div class="panel panel-default"> 
    <div class="panel-heading" style="background:#90a4ae"> 
     <h3 style="font-size:18px" ><i class="far fa-images"></i> &nbsp; &nbsp; 시공 현장 둘러보기</h3> 
       </div>
  <!--   <div class="panel-body"> 
    Some content here
    </div>  -->
  <!-- List group inside the panel-->
  <ul class="list-group">
    <li class="list-group-item">
         {% for post in post_list %}
        <ul style="font-family: 'Nanum Gothic', sans-serif; font-weight: ;font-size: 18px;padding:0.5em 2em;"> <li><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }} 
          </a> <span style="color:#000;font-size: 12px;padding-left: 20px; ">{{ post.published_date }}</span>
          </li>
        </ul>
        {% endfor %} 
    </li>
  </ul>
</div>
</div>
</div>
</div>
     
<section  id="team" >
    <div class="container-fluid">
    <div class="panel panel-default" "> 
    <div class="panel-heading" style="background:#90a4ae">
      <h3  style="font-size:18px">
        <i class="fas fa-cogs"></i> &nbsp; &nbsp; 버킷 attachment ---현장상황에 맞춤한 다양한 작업장치 보유
      </h3>
   </div>
   </div>
   <div class="row" style="margin-top:21px;">
      <div class="col-sm-4">
      <div class="team text-center">
      <div class="cover" style="background:url('static/img/add8.png'); background-size:100%; background-repeat: no-repeat;
background-position: top center;">
        <div class="overlay text-center">
                <h3 class="white">스탠다드버킷</h3>
                <h5 class="light light-white"></h5>
        </div>
      </div>
            <img src="{% static 'img/bucket10.png' %}" alt="Team Image" class="avatar">
      </div>
      </div>
      <div class="col-sm-4">
       <div class="team text-center">
       <div class="cover" style="background:url('static/img/add5.png'); background-size:100%; background-repeat: no-repeat;
background-position: top center;">
        <div class="overlay text-center">
                <h3 class="white">기울이기버킷</h3>
                <h5 class="light light-white"></h5>
        </div>
      </div>
            <img src="{% static 'img/bucket4.png' %}" alt="Team Image" class="avatar">
      </div>
      </div>
       <div class="col-sm-4">
       <div class="team text-center">
      <div class="cover" style="background:url('static/img/add7.png'); background-size:100%; background-repeat: no-repeat;
background-position: top center;">
         <div class="overlay text-center">
            <h3 class="white">엄지버킷</h3>
            <h5 class="light light-white"></h5>
        </div>
      </div>
            <img src="{% static 'img/bucket7.png' %}" class="avatar">
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
      <div class="team text-center">
      <div class="cover" style="background:url('static/img/add2.png'); background-size:100%; background-repeat: no-repeat;
background-position: top center;">
        <div class="overlay text-center">
          <h3 class="white">채버킷</h3>
          <h5 class="light light-white"></h5>
        </div>
      </div>
            <img src="{% static 'img/bucket25.png' %}" alt="Team Image" class="avatar">
      </div>
      </div>
        <div class="col-sm-4">
          <div class="team text-center">
          <div class="cover" style="background:url('static/img/add1.png'); background-size:100%; background-repeat: no-repeat;
background-position: top center;">
        <div class="overlay text-center">
          <h3 class="white">브레이커</h3>
         <h5 class="light light-white"></h5>
        </div>
      </div>
        <img src="{% static 'img/bucket23.png' %}" alt="Team Image" class="avatar">
      </div>
      </div>
      </div>
    </div>
  </section>

  <footer class="footer" style="background:#62757f;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
      <h4 class="text-uppercase mb-4">contact</h4>
               <form class="form-horizontal" role="form" method="post"  action="https://formspree.io/25tens@naver.com">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
    </div>
  </div>
  <div class="form-group">
    <label for="message" class="col-sm-2 control-label">Message</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="4" name="message"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
     
    </div>
  </div>
</form>
</div>
<div class="col-sm-4">
      <div class="pull-left ">
      <p> <b>남해미니중기</b> </p>
      <p>
    <a class="visible-xs " href="tel:010-3880-2868" style="padding:px; text-decoration: none">
    <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
    <font color=""> &nbsp; &nbsp;  010-3880-2868</font>
    </a>
    </p>
    <p class="hidden-xs">
       <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
       <font color="#2C3E50"> &nbsp; &nbsp;010-3880-2868</font>
    </p>
    <p>
        <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
        <font color="#2C3E50"> &nbsp; &nbsp;055-864-2868</font>
    </p> 
    <p>
        <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
        <font color="#2C3E50"> &nbsp; &nbsp;055-864-1720</font>
    </p> 
    <p>
      <i class="fa fa-envelope " aria-hidden="true"></i> 
       <font color="#2C3E50">&nbsp; &nbsp; kdc2868@naver.com</font>
     </p>
    <p> 
      <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
       <font color="#2C3E50">&nbsp; &nbsp; www.namhaemini.com </font>
     </p>
    <p>
     <i class="fa fa-home fa-lg" aria-hidden="true"></i>
    <font color="#2C3E50"> &nbsp; &nbsp;경남 남해군 남해읍 화전로 96번나길9</font>
    </p> 
     <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<!--<a class="a2a_dd" href="https://www.addtoany.com/share"></a>-->
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
<a class="a2a_button_kakao"></a>
     
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>    
          </div>
          </div>
        </div>
      </div>
      </footer>
{% endblock  %} 