{% extends 'blog/base.html' %}
{% load static from staticfiles %}

@import url('https://fonts.googleapis.com/css?family=Lobster');
{% block content %}

<article class="post">
<div class="container">

	<div class="bread">
		<ol>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ol>
	</div>

	<h1>블로그 꾸미기</h1>
    
    <P> 제목과 내용은 최대 250자까지 입력할 수 있고,
        이미지는 최대 6장까지 등록가능합니다.
    </P>

	
<form id="post_form" method="post" action="" enctype="multipart/form-data">
   
     {% csrf_token %}
      {{ form.as_p }}
      {{ formset.as_table }}
   
    <br><br>
     
    <input type="submit" name="submit" value="Submit" />
    
</form>
	

	

</div>
</article>


   
   
   
  
{% endblock %}