
    @media screen and (max-width: 767px) {
     
      .row.content {height: auto;} 
    }

    .gallery{
    	margin-top: : 20px;
    	margin-bottom: 20px;
    	
    }
    .gallery .thumbnail{
    	height: 250px;
    	width: 300px;
    }
